<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunlu.api.user.repository.mapper.FeedBackMapper">

    <insert id="addFeedBack" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO tb_feedback
        (
        user_id,
        user_type,
        content,
        create_time
        )
        VALUES
         (
         #{userId},
         1,
         #{content},
         now()
         )
    </insert>
    <select id="listFeedBack" resultType="com.xunlu.api.user.domain.FeedBack">
        select
            f.id,
            f.user_id,
            f.user_type,
            f.content,
            f.create_time
        from tb_feedback f join tb_user u on f.user_id=u.id
        where user_id=#{userId}
        order by f.create_time
        limit #{pageCondition.offset}, #{pageCondition.limit}
    </select>
    <select id="getFeedBackCount" resultType="int">
        select
            count(f.id)
        from tb_feedback f join tb_user u on f.user_id=u.id
        where user_id=#{userId}
    </select>

</mapper>
