<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunlu.api.user.mapper.UserMapper">
    <resultMap id="userResultMap" type="User">
        <id column="id" property="id"/>
        <association property="prefer" resultMap="preferResultMap"/>
        <discriminator javaType="int" column="third_user_type">
            <case value="1" resultType="ThirdUser"/>
        </discriminator>
    </resultMap>
    <resultMap id="preferResultMap" type="com.xunlu.api.user.domain.User$Prefer">
        <id column="id" property="userId"/>
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_user
        (
        user_name,
        nick_name,
        photo,
        email,
        phone,
        password,
        create_time,
        area_code
        )
        values
        (
        #{userName, jdbcType=VARCHAR},
        #{nickName, jdbcType=VARCHAR},
        #{photo, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{phone, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        now(),
        #{areaCode, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateTIMIdentifier">
        update tb_user
        <set>
            <choose>
                <when test="identifier != null">
                    tim_identifier = #{identifier}, tim_sync = 1
                </when>
                <otherwise>
                    tim_identifier = null, tim_sync = 0
                </otherwise>
            </choose>
        </set>
        where id = #{id}
    </update>

    <update id="updatePrefer">
        update tb_user
        <set>
            <if test="prefer.preferNatural != null">
                prefer_natural = #{prefer.preferNatural},
            </if>
            <if test="prefer.preferHuman != null">
                prefer_human = #{prefer.preferHuman},
            </if>
            <if test="prefer.preferRunning !=null">
                prefer_running = #{prefer.preferRunning},
            </if>
            <if test="prefer.preferPlayTime != null">
                prefer_play_time = #{prefer.preferPlayTime},
            </if>
            <if test="prefer.preferNightPlay != null">
                prefer_night_play = #{prefer.preferNightPlay},
            </if>
            <if test="prefer.preferPubTransFirst != null">
                prefer_pub_trans_first = #{prefer.preferPubTransFirst},
            </if>
            <if test="prefer.preferHotelLevel != null">
                prefer_hotel_level = #{prefer.preferHotelLevel},
            </if>
            <if test="prefer.preferTripNumber != null">
                prefer_trip_number = #{prefer.preferTripNumber},
            </if>
            <if test="prefer.preferFlight != null">
                prefer_flight = #{prefer.preferFlight}
            </if>
        </set>
        where
        id=#{id}
    </update>

    <select id="findOne" resultMap="userResultMap">
        select
        u.id as id,
        u.user_name as user_name,
        ifnull(u.nick_name, tu.nick_name) as nick_name,
        u.person_sign as person_sign,
        ifnull(u.photo, tu.img) as photo,
        u.email as email,
        u.phone as phone,
        u.password as password,
        u.prefer_natural as prefer_natural,
        u.prefer_human as prefer_human,
        u.prefer_running as prefer_running,
        u.prefer_play_time as prefer_play_time,
        u.prefer_night_play as prefer_night_play,
        u.prefer_pub_trans_first as prefer_pub_trans_first,
        u.prefer_hotel_level as prefer_hotel_level,
        u.create_time as create_time,
        u.prefer_trip_number as prefer_trip_number,
        u.prefer_flight as prefer_flight,
        u.area_code as area_code,
        u.tim_sync as tim_sync,
        u.tim_identifier as tim_identifier,
        u.is_spider as is_spider,

        tu.user_id is not null as third_user_type,
        tu.type as type,
        tu.openid as openid
        from
        tb_user as u
        left join tb_third_user as tu on  tu.user_id = u.id
        <where>
            <if test="id != null">
                u.id = #{id}
            </if>
            <if test="userName != null">
                and u.user_name = #{userName}
            </if>
            <if test="nickName != null">
                and u.nick_name = #{nickName}
            </if>
            <if test="personSign != null">
                and u.person_sign = #{personSign}
            </if>
            <if test="photo != null">
                and u.photo = #{photo}
            </if>
            <if test="email != null">
                and u.email = #{email}
            </if>
            <if test="phone != null">
                and u.phone = #{phone}
            </if>
            <if test="password != null">
                and u.password = #{password}
            </if>
            <if test="prefer != null">
                <if test="prefer.preferNatural != null">
                    and u.prefer_natural = #{preferNatural}
                </if>
                <if test="prefer.preferHuman != null">
                    and u.prefer_human = #{preferHuman}
                </if>
                <if test="prefer.preferRunning != null">
                    and u.prefer_running = #{preferRunning}
                </if>
                <if test="prefer.preferPlayTime != null">
                    and u.prefer_play_time = #{preferPlayTime}
                </if>
                <if test="prefer.preferNightPlay != null">
                    and u.prefer_night_play = #{preferNightPlay}
                </if>
                <if test="prefer.preferPubTransFirst != null">
                    and u.prefer_pub_trans_first = #{preferPubTransFirst}
                </if>
                <if test="prefer.preferHotelLevel!= null">
                    and u.prefer_hotel_level = #{preferHotelLevel}
                </if>
                <if test="prefer.preferTripNumber!= null">
                    and u.prefer_trip_number = #{preferTripNumber}
                </if>
                <if test="prefer.preferFlight!= null">
                    and u.prefer_flight = #{preferFlight}
                </if>
            </if>
            <if test="areaCode!= null">
                and u.area_code = #{areaCode}
            </if>
            <if test="createTime!= null">
                and u.create_time = #{createTime}
            </if>
            <if test="timIdentifier!= null">
                and u.tim_identifier = #{timIdentifier}
            </if>
        </where>
        limit 1
    </select>

    <select id="findPassword" resultType="string">
        select
        password
        from tb_user
        where
        id=#{id}
    </select>

    <select id="getUserPrefer" resultMap="preferResultMap">
        select
        id,
        prefer_natural,
        prefer_human,
        prefer_running,
        prefer_play_time,
        prefer_night_play,
        prefer_pub_trans_first,
        prefer_hotel_level,
        prefer_trip_number,
        prefer_flight
        from tb_user
        where
        id=#{id}

    </select>
</mapper>
